/* 
 * Sponsor About Section
 */

 .s_about {
    border-width: 15px 0;
    background-image: linear-gradient(#88CC88,#55AA55,#2D882D,#116611,#004400);
    padding: 24px 0;
    position: relative;
  }
  
  .s_about p {
    color: #0F2C34;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.6em;
    letter-spacing: -.3px;
  }
  
  .s_about p span {
    font-weight: 700;
    text-transform: uppercase;
  }

  .s_about button {
    background-color:#004400;
  }

  .s_about a {
    color: white
  }

/* 
*  Top Banner Section
*/

  .top_banner h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 20px;
    margin-top: 5px;
  }

  .top_banner h4 {
    color: #ffffff;
    font-size: 20px;
  }

  .top_banner a {
    color: #55AA55;
  }


/* 
*  Additional Navbar CSS
*/

  nav {
    font-size: 17px !important;
    background-color: #ffffff !important;
  }

  .nav_logo_pad {
    padding-top:1px !important
  }

  .nav_text_pad {
    padding-left:10px !important;
  }

  .nav_text_color {
    color: #004400 !important;
  }