.homebutton {
    margin-top:24px;
    margin-left:24px;
}

.darklink {
    color: black;
}

.bg_gradient {
    background-image: linear-gradient(#88CC88,
    #55AA55,
    #2D882D,
    #116611,
    #004400
    );
}

.white {
    color:#ffffff;
}

.darkgreen_btn {
    background-color:#004400;
}

.lightgreen:hover {
    color: #ffffff;
}

